/* Resetear márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fondo de la página con degradado */
body {
    background: linear-gradient(135deg, #4d9ac3, #90f6cf);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para el título */
h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(14, 115, 231);
    font-weight: bold;
    background: -webkit-linear-gradient(#3a04b7, #333434);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Grupo de formulario */
.form-group {
    margin-bottom: 20px;
}

/* Campos de entrada de texto */
input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #feb47b;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
    border-color: #ff7e5f;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botón de envío */
.btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #feb47b;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

/* Hacer el formulario responsivo */
@media (max-width: 400px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .btn {
        font-size: 16px;
    }
}
